* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.btn {
    padding: 10px;
    border: none;
    background-color: cadetblue;
    color: white;
    border-radius: 4px;
}

.btn:hover {
    padding: 10px;
    border: none;
    transition: 0.3s;
    background-color: #f2f2f2;
    color: cadetblue;
    border-radius: 4px;
}